@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

:root {
    --orange: hsl(31, 77%, 52%);
    --blue: hsl(184, 100%, 22%);
    --darkblue: hsl(179, 100%, 13%);
    --p: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.sedans {
    background: var(--orange);
    max-width: 17rem;
    height: 30rem;
    border-radius: 7px 0 0 7px;
    padding: 2.5rem;
}

.suvs {
    background: var(--blue);
    max-width: 17rem;
    height: 30rem;
    padding: 2.5rem;
}

.luxury {
    background: var(--darkblue);
    max-width: 17rem;
    height: 30rem;
    border-radius: 0px 7px 7px 0px;
    padding: 2.5rem;
}

img {
    margin-bottom: 1.2rem;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    color: var(--gray);
    text-transform: uppercase;
    
}

p {
    color: var(--p);
    font-size: 13px;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.sedans button {
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    background-color: var(--gray);
    color: var(--orange);
    margin-top: 2rem;
    transition: all 0.3s;
}

.sedans button:hover {
    background: var(--orange);
    color: var(--gray);
    border: 1px solid var(--gray);
    cursor: pointer;
}

.suvs button {
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    margin-top: 2rem;
    background-color: var(--gray);
    color: var(--blue);
    transition: all 0.3s;
}

.suvs button:hover {
    background: var(--blue);
    color: var(--gray);
    border: 1px solid var(--gray);
    cursor: pointer;
}

.luxury button {
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    margin-top: 2rem;
    background-color: var(--gray);
    color: var(--darkblue);
    transition: all 0.3s;
}

.luxury button:hover {
    background: var(--darkblue);
    color: var(--gray);
    border: 1px solid var(--gray);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .container {
        margin: 10px 0 10px 0;
        height: auto;

    }
    .card {
        flex-direction: column;
    }

    .sedans,
    .suvs,
    .luxury {
        border-radius: 0;
        height: 450px;
    }

    .sedans {
        border-radius: 7px 7px 0 0;
    }

    .luxury {
        border-radius: 0 0 7px 7px;
    }

    
}